.aboutCard {
    width: 50%;
    display: block;
    margin: 2rem auto 2rem auto;
    text-align: center;
}

.categoryTitle{
    text-align: center;
}

img {
    width: 12.5rem;
    display: block;
    margin: auto;
}

.diplomaCard {
    font-family: 'Pinyon Script', cursive;
    font-weight: bold;
    width: 50%;
    display: block;
    margin: 2rem auto 2rem auto;
    text-align: center;
}

#buttonId {
    align-content: center;
}

/* Header */
.component-page-header {
  display: flex;
  align-items: center;

  @media (max-width: 2000px) {
    padding-left: 0;
  }
}

h1 {
  @media (max-width: 2000px) {
    padding: 24px 8px;
    font-size: 20px;
  }
}

 .docs-primary-header {
    background: #3f51b5;

    h1 {
      margin: 1rem;
      color:white;
    }
  }
 
/* End Header */