<div class="pageTitle">
  <h1>About Me</h1>
</div>

<md-card class="aboutCard">
    <md-card-content>
      <h2>
        Resume
      </h2>
      <div id="buttonId"> 
        <button id="resumeButton" md-raised-button color="primary" 
          (click)="openDialog()">Open
        </button>
      </div>
    </md-card-content>
</md-card>

<!--<md-card class="aboutCard">
    <md-card-content>
      <h2>
        Education
      </h2>
       <h3>{{education.degreeType}}</h3>
    </md-card-content>
</md-card>-->
