<div class="docs-primary-header component-page-header">
  <h1>Labs</h1>
</div>

<div class="labContainer">
  <md-card class="post">
    <div class="post">
    <md-card-content>
      <p>This is a space to play with code in a production<br/> environment so I can see how it will react<br/> on different devices.</p>
    </md-card-content>
    </div>
  </md-card>
</div>

<div class="labContainer">
  <md-card>
    <md-card-content>
      <h1>Geolocation Api</h1>
        <button color="primary" md-raised-button (click)="getLocation()" id="get_location">Get Location</button>
        <br/>
        <br/>
        <div id="map">
            <iframe id="google_map" width="300" height="300" frameborder="0" scrolling="no"
             marginheight="0" marginwidth="0" src="https://maps.google.com?output=embed"></iframe>
        </div>
        <div id="geolocationData"></div>
        <div class="geoResults">
          <h4>{{ latitude }}</h4>
          <h4>{{ longitude }}</h4>
          <h4> {{ accuracy }}</h4>
          <h4>{{ altitude }}</h4>
          <h4>{{ altitudeAccuracy }}</h4>
          <h4>{{ speed }}</h4>
        </div>
    </md-card-content>
  </md-card>
</div>
