  <md-toolbar color="primary">
    <div id="navToggle" (click)="sidenav.toggle()">
     <md-icon>menu</md-icon>
    </div> 
    &nbsp;<span style='position: absolute;'>Nick Muscara</span>
  </md-toolbar>
  
  <md-sidenav-container>
    <md-sidenav #sidenav mode="over">
      <div>
        <ul class="mainNav">         
          <li (click)="sidenav.toggle()"  [routerLink]="['/app-home']">
            <md-icon>home</md-icon>
          Home</li>
          <li (click)="sidenav.toggle()" [routerLink]="['/app-blog']">
            <md-icon>book</md-icon>
          Blog</li>
          <li (click)="sidenav.toggle()" [routerLink]="['/app-contact']">
            <md-icon>phone in talk</md-icon>
          Contact</li>
          <li (click)="sidenav.toggle()" [routerLink]="['/app-aboutme']">
            <md-icon>person</md-icon>
          About Me</li>
          <!--<li (click)="sidenav.toggle()" [routerLink]="['/app-records']">
            <md-icon>headset</md-icon>
          Records</li>-->
          <!--<li (click)="sidenav.toggle()" [routerLink]="['/app-wishlist']">
            <md-icon>redeem</md-icon>
          Wish List</li>-->
          <li (click)="sidenav.toggle()" [routerLink]="['/app-pets']">
            <md-icon>pets</md-icon>
          Pets</li>
          <li (click)="sidenav.toggle()" [routerLink]="['/app-changelog']">
            <md-icon>assignment</md-icon>
          Changelog</li>
          <!--<li (click)="sidenav.toggle()" [routerLink]="['/app-bugs']">
            <md-icon>bug_report</md-icon>
          Bugs</li>-->
        </ul>
      </div>
    </md-sidenav>
    
    <div (click)="sidenav.close()" class="contentDiv">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>

  <md-toolbar class="materialFooter">
    <p>&#169; Nick Muscara 2017</p>
    <a href="#" class="fa fa-facebook"></a>
  </md-toolbar>
