/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';  
@import 'https://fonts.googleapis.com/css?family=Pinyon+Script';

html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

md-sidenav {
  width: 200px;
  transition: 0.2s;
}

body {
    font-family: 'Roboto', sans-serif;
}

.pageTitle {
    text-align: center;
}

.mainNav {
    list-style: none;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
}

.mainNav li {
    margin-bottom: 1rem;
}

.mainNav li:hover {
    cursor: pointer;
    background-color:lightgray;
    transition: .5s;   
}

.bodyClass {
    height: 100%;
}

.contentDiv {
   /* display: flex; */
    height: 100%;
    align-items: center;
    justify-content: center;
}

.contactCard {
    width: 300px;
    margin: auto;
    margin-top: 10%;
    display: block;
}

.materialFooter {
    background-color:lightblue;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
}

.materialFooter a {
    color:black;
    text-decoration: none;      
}
